.add-control {
  a {
    padding: 5px;

    &.open {
      background-color: #fff;
      color: #333;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    i {
      margin-left: 1px;
    }
  }

  .container {
    width: auto;
    position: absolute;
    background-color: #fff;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    border-top-left-radius: 0px;

    form {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }

      .form-control {
        margin-right: 5px;
      }
    }
  }
}

.playbar {
  .add-control {
    a {
      &.open {
        background-color: transparent;
        color: yellow;
      }
    }

    .container {
      right: 30px;
      bottom: 65px;
      border-radius: 10px;

      select,
      input {
        margin-top: -4px;
      }
    }
  }
}