.effect {
  .toggle-handler {
    background-color: #444;
    margin-top: 2px;
    margin-bottom: 2px;
    color: #888;
    border-radius: 5px;
    font-size: 0.8em;
    padding: 2px 0px 2px 5px;
    display: flex;
    align-items: center;

    > span {
      margin-left: auto;
    }

    .bootstrap-switch {
      margin-left: auto;
      border-color: #888;
    }

    .bootstrap-switch-label {
      background-color: #444;
    }
  }

  .effect-params {
    .effect-param {
      margin-bottom: 20px;
      text-align: center;

      span {
        display: block;
      }

      .title {
        margin-bottom: 5px;
      }

      input {
        height: 150px;
        -webkit-appearance: slider-vertical;
        -moz-appearance: slider-vertical;
        appearance: slider-vertical;
        margin-bottom: 5px;
      }
    }
  }
}
