.eq {
  .filter {
    width: 10%;
    text-align: center;

    span {
      display: block;
    }

    .title {
      margin-bottom: 5px;
    }

    input {
      height: 150px;
      -webkit-appearance: slider-vertical;
      -moz-appearance: slider-vertical;
      appearance: slider-vertical;
      margin-bottom: 5px;
    }
  }
}
