.paging {
  button {
    background-color: #FFCB05;
    color: #333;
    border: 0;

    &:hover {
      background-color: #E5B604;
      color: #333;
    }

    &:active,
    &:focus,
    &:active:focus {
      outline: 0;
      border: 0;
      outline-offset: 0;
    }
  }
}