.playbar {
  .container-fluid {
    padding: 0;

    > * {
      float: left;
    }

    .waveform {
      width: 80%;
      cursor: text;
    }

    .controls {
      width: 20%;

      > span,
      .add-control {
        width: 25%;
        text-align: center;
        font-size: 2em;
        display: block;
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;

        a:link,
        a:visited,
        a:hover,
        a:active {
          color: #555;
        }
      }
    }

    .track-info {
      width: 80%;
      text-align: center;
      height: 20px;
      margin-top: -20px;
      color: #999;
      font-size: 0.9em;

      a:link,
      a:visited,
      a:hover,
      a:active {
        color: #999;
      }
    }
  }
}