.playbar {
  background-color: #222;
  margin-left: 240px;
  border-color: #090909;
  margin-right: 15px;

  .container-fluid {
    padding: 0;

    > * {
      float: left;
    }

    .waveform {
      width: 80%;
    }

    .controls {
      width: 20%;

      > span,
      .add-control {
        width: 25%;
        text-align: center;
        font-size: 1.5em;
        display: block;
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
      }
    }

    .track-info {
      color: #999;
      float: left;
      margin-top: 12px;
      max-height: 20px;
      font-size: 0.9em;
      width: 175px;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left: 15px;
      margin-right: 15px;
      margin-bottom: 5px;
      animation: marquee 50s linear infinite;

      a:link,
      a:visited,
      a:hover,
      a:active {
        color: #FFCB05;
      }
    }
  }
}
