$maxSequencerHeight: 700px;
$numCells: 32;
$cellSize: 40px;
$nameSize: 80px;
$cellMargin: 5px;
$spacedCellMargin: 15px;
$spacedCellMarginVertical: 10px;

.sequencer {
  width: 100%;
  max-height: $maxSequencerHeight;
  height: $maxSequencerHeight;
  overflow-y: auto;
  position: relative;

  .loading {
    position: absolute;
    margin-left: -50px;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .item {
    float: left;
    width: $cellSize;
    height: $cellSize;
    margin: $cellMargin;
    text-align: center;

    &:nth-child(4n) {
      margin-right: $spacedCellMargin;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .names {
    width: $nameSize;
    float: left;
    padding-top: $cellSize + ($cellMargin * 2);
    margin-right: 20px;

    .row {
      &:nth-child(4n) {
        margin-bottom: $spacedCellMarginVertical + ($cellMargin * 2);
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    > div {
      width: 100%;
      max-width: 100%;
      height: $cellSize;
      margin: $cellMargin;
      font-size: 0.8em;
      color: #999;
      margin-bottom: $cellMargin * 2;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      overflow: hidden;

      span {
        width: $nameSize;
        max-width: $nameSize;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        text-align: right;
      }
    }
  }

  .editor {
    overflow-x: auto;
    margin-right: $spacedCellMargin;

    .header,
    .content {
      width: (($cellSize + ($cellMargin * 2)) * $numCells)
        - (($numCells / 4) * $cellMargin)
        + (($numCells / 4) * $spacedCellMargin)
        - ($spacedCellMargin);
      float: left;
    }
  }

  .header {
    .item {
      font-size: 0.6em;
      color: #999;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .content {
    .row {
      &:nth-child(4n) {
        margin-bottom: $spacedCellMarginVertical;
      }

      &:last-child {
        margin-bottom: 10px;
      }

      .item {
        &.step {
          cursor: pointer;
          background-color: #222;
          border-radius: 5px;

          &.on {
            background-color: #FFCB05;
          }
        }
      }
    }
  }
}
