html {
  overflow: hidden;
  height: 100%;
}

body {
  background-color: #333;
  color: #F3F3F3;
  font-family: $fontFamily;
  margin-bottom: 20px;
  height: 100%;
  overflow: auto;

  @media (min-width: 992px) {
    padding-left: 300px;
  }

  #main {
    margin-bottom: 170px;
  }
}
