html {
  overflow: hidden;
  height: 100%;
}

body {
  background-color: #333;
  color: #F3F3F3;
  font-family: $fontFamily;
  margin-bottom: 20px;
  height: 100%;
  overflow: auto;

  #main {
    margin-top: 70px;
    margin-bottom: 170px;
  }
}