.set {
  h2 {
    margin-bottom: 20px;
  }

  h3 {
    margin-top: 0;
    font-size: 1.5em;
  }

  h4 {
    font-size: 1em;
    margin-bottom: 0;
  }

  .set-track {
    > .row {
      display: flex;
      align-items: center;
    }

    .vertical-center {
      display: flex;
      align-items: center;
    }

    .toggle-handler {
      background-color: #444;
      text-align: center;
      cursor: pointer;
      margin-top: 2px;
      margin-bottom: 2px;
      color: #666;
      border-radius: 5px;
      font-size: 0.8em;
      padding: 2px 0;
    }

    .controls {
      .row {
        text-align: center;
      }

      span {
        font-size: 1.5em;
        width: 33%;
        display: block;
        float: left;
      }
    }
  }
}