.set {
  h2 {
    margin-bottom: 20px;
  }

  h3 {
    margin-top: 0;
    font-size: 1.5em;
  }

  h4 {
    font-size: 1em;
    margin-bottom: 0;
  }

  .set-track {
    > .row {
      display: flex;
      align-items: center;
    }

    .vertical-center {
      display: flex;
      align-items: center;
    }

    .controls {
      .row {
        text-align: center;

        &:nth-child(2) {
          margin-bottom: 10px;
        }
      }

      span {
        font-size: 1em;
        width: 30%;
        display: block;
        float: left;
      }
    }
  }
}
